.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.padding {
    padding: 0 10em;
}

a {
    text-decoration: none;
}

.heading {
    text-align: center;
    font-size: 5em;
    margin-top: 1em;
    padding-bottom: 0.5em;
}
